a:visited {
    color: #eee;
}

h1 {
    letter-spacing: 20px;
    text-decoration: underline;
    width: 20%;
    text-align
}

body {
    background-attachment background-color: #eee;
}
